doctype html
html
  head
    include head.jade
    include navbar.jade

  body
    div.container.row
      h2 DASHBOARD
      br
      div#panel.row.col-md-10.col-md-offset-1
        div.col-md-5
          h3 SUBMISSIONS
        div.col-md-7
          h3 SCENES
