link(rel='stylesheet', href='/stylesheets/style.css')
//- link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
//- link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
link (rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css")
link (rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
