doctype html
html
head
  include head.jade

body
  div.container.row
    div#panel.col-md-3.col-md-offset-5
      div.col-md-offset-3
        h1 MPLAY
        p Welcome to MPLAY
        a(href='/login') LOGIN

include scripts.jade
