extend layout.jade

block content
  div.card
    div.card-content
      span.card-title.black-text Installation Management
      div.row.valign-wrapper
        div.col.m6.s12.valign
          div.row
            div.col.m12
              button.btn.col.m12 Customize Automatic Upkeep
          div.row
            div.col.m12
              button.btn.col.m12 Activity Logs
          div.row
            div.col.m12
              button.btn.col.m12 Playground Controls
        div.col.m6.s12
          h5 Installation Info
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in sodales sem. In a orci dolor. Aenean semper venenatis velit, eget molestie eros malesuada sed. Integer in ullamcorper nibh. Morbi luctus arcu ac auctor accumsan. In maximus mi magna, ac volutpat metus porttitor quis. Mauris tristique pulvinar ultricies. Duis mollis nibh pulvinar erat aliquet elementum. Donec eget erat quis tellus iaculis rutrum at et mauris. Nam elementum nisi id est finibus rhoncus.
          h5 Currently Playing
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in sodales sem. In a orci dolor. Aenean semper venenatis velit, eget molestie eros malesuada sed. Integer in ullamcorper nibh. Morbi luctus arcu ac auctor accumsan. In maximus mi magna, ac volutpat metus porttitor quis. Mauris tristique pulvinar ultricies. Duis mollis nibh pulvinar erat aliquet elementum. Donec eget erat quis tellus iaculis rutrum at et mauris. Nam elementum nisi id est finibus rhoncus.
  include scripts.jade
