doctype html
html
  head
    title Molecular Playground
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    include navbar.jade
    if message
      div.card.blue-grey.white-text.message
        h6 #{message}
    div.container
      block content
    footer
      p &copy; 2015 Team Tilde
    include scripts
