doctype html
html
  head
    include head.jade
    include navbar.jade

  body
    div.container.row
      div#panel.col-md-3.col-md-offset-5
        form(action='/users/login' method='post')
          h2.col-md-offset-4 LOGIN
          if message
            h4 #{message}
          input(name='username' type='email' placeholder='EMAIL' class='col-md-12') 
          br
          input(name='password' type='password' placeholder='PASSWORD' class='col-md-12') 
          br
          button(class='btn btn-primary btn-lg btn-block') LOGIN
          br
          a(href='/register') REGISTER
