extend layout.jade

block content
  div.row
    div.col.m8.s12.offset-m2
      div.card
        div.card-content
          span.card-title.black-text Organization Management
          div.row
            div.col.m6.s12.offset-m3
              a(href='/createOrganization')
                button.btn.col.m12.s12 Create Organization
          
