extends layout.jade

block content
  div.row
    div.col.m5.s12
      div.card
        div.card-content
          span.card-title.black-text Create Playlist
          div.row
            div.col.m12.s12
              ol.collection.playlist(ondrop='handleDrop(event)' ondragover='handleDragOver(event)')
    div.col.m7.s12
      include scenes.jade
  include preview.jade
