div.modal(id='scenePreview')
  div.modal-content
    h4 Caffeine
    p A molecular representation of caffeine.
    div(id='appdiv' style='width:100%;height:300px')
    //- iframe(style='width:100%;height:300px' frameBorder="0" src="http://embed.molview.org/v1/?mode=balls")
    //- ul.collapsible(data-collapsible="accordion")
    //-   li
    //-     div.collapsible-header Description
    //-     div.collapsible-body 
    //-       p Lorem ipsum dolor sit amet.
  div.modal-footer
    a.modal-action.modal-close.waves-effect.waves-green.btn-flat Close
script(type='text/javascript' src='/jsmol/JSmol.min.js')
script(type='text/javascript' src='/jsmol/preview.js')
