div.card
  div.card-content    
    span.card-title.black-text My Scenes
    div.row
      div.col.m12.s12
        ul.collection
          each s in scenes
            a.modal-trigger(href='#scenePreview', onClick='loadPreview()')
              //- - createSceneItem(s)
              li.collection-item.scene(data-scene='#{JSON.stringify(s)}')
                div= s.title
script(src='/javascripts/scene.js')
