div.card
  div.card-content    
    span.card-title.black-text My Scenes
    div.row
      div.scenes.col.m12.s12
        - for (var i = 0; i < 100; i++ ) {
            a.modal-trigger(href='#scenePreview')
              img.thumbnail(src='/images/caffeine.jpg')
        - }
