body {
  background-color: #cfd8dc;
}

nav {
  margin-bottom: 15px;
}

#panel {
	background-color: #D4D4D4
}

#panel_2 {
	background-color: #FFFFFF;
	overflow-y: scroll;
	height:250px;
}

#molecule {
	margin-top: 5px
}

img.thumbnail {
  display: inline-block;
  width: 23.333%;
  margin: 10px 5%;
}

div.scenes {
  overflow-y: scroll;
  max-height: 400px;
}
